.header {
  margin: 8px;
}
body {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: 80% 5%;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
h4 {
  color: white;
  font-size: 18px;
  text-align: top;
  text-decoration: underline;
  font-weight: bold;
  line-height: 0.85;
}
 h2 {
   font-size: 32px;
   font-weight: 750;
   letter-spacing: -2px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 13px;
}
.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgrey;
  font-weight: bold;
}
.header2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-weight: bold;
  font-size: 23px;
  color: white;
}
.navbtn {
  color: white;
}
